#get users email address

email = input("What is your email address?: ").strip()


#slice out username

username = email[:email.index("@")]


#slicer out domain

domain = email[email.index("@") + 1 :email.index(".")]


#format message

output = "Your username is {} and your domain name is {}".format(username,domain)


#display output message
print(output)
